<div class="col-12 col-md-3 mb-2 mb-md-5 ml-md-5 mr-md-5">
<div class="card event">
<div class="card-body">
<h4 class="card-title"><%= event.title %></h4>
<h5 class="card-subtitle mb-2 text-muted">$<%= event.price %></h5>
<h6 class="card-text"><%= event.date %></h6>
<h6 class="card-text"><%= event.location %></h6>
<p class="card-text"><%= event.desc %></p>
    <% if current_user.admin? %>
    <%= link_to "edit", edit_event_path(event.id), class: 'card-link link'%>
    <%= link_to "delete", event, method: :delete,
                                data: { confirm: "You sure?" }, class: 'card-link link' %>
    <%end%>
    
    <%if  !current_user.events.include?(event) %>
        <%= link_to "save", attend_event_path(event.id), method: :post, class: 'card-link link' %>
    <% else %>
        <%= link_to "unsave", unattend_event_path(event.id), method: :delete, class: 'card-link link' %>
    <%end%>
</div>
</div>
</div>
