  <%begin%>
  <%= image_tag("#{@event.image_name}.jpg", class: "event_img") %>
  <%rescue%>
  <%end%>
<%= form_with(model: @event, local: true) do |f| %>

    <%= f.label :title, class:"snow" %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :location, class:"snow" %>
    <%= f.text_field :location, class: 'form-control' %>

    <%= f.label :date, class:"snow" %>
    <%= f.date_field :date, class: 'form-control' %>
    
    <%= f.label :desc, class:"snow" %>
    <%= f.text_area :desc, class: 'form-control' %>

    <%= f.label :price, class:"snow"%>
    <%= f.number_field :price, class: 'form-control' %>

    <%= f.label :image_name, class:"snow" %>
    <%= f.text_field :image_name, class: 'form-control' %>

    <% list = [] %>
    <% @event.categories.each do |b| %>
      <div><%list.push(b.name)%></div>
    <%end%>

    <h3 class="snow">event categories</h3>
    <%= f.collection_check_boxes(:category_ids, @categories, :id, :name) do |b| %>
      <div class="snow"><%= b.check_box({checked: list.include?(b.text)}) %><%=  b.label {b.text}%></div>
    <%end%>

    <%= f.submit yield(:button_text), class: "btn btn-primary showuser" %>
      
  <% end %>
  

