<section class="show_event">
  <section class="event_section">
    <div class="row title">
    <div class="col col-md-6">
    <div class="event_section">
    <h1 class="snow"><%= @event.title %></h1>
    
    <h3 class="snow"><%= @event.location %></h3>
    <div>
      <%= image_tag("#{@event.image_name}.jpg", class: "show-img") %>
      <div class="flex-row under-img">
        <h2 class="text-muted">$<%= @event.price %></h2>
        <h3 class="date"><%= @event.date.strftime("%d-%m-%Y") %></h3>
      </div>
    </div>
    <div class="media-body ml-3">
      
      
      <h4 class="snow" style="margin-top: 25px;font-weight: bold;background-color:#2e3440; width:160px;padding: 5px 10px 5px 10px;">Description</h4>
      <h6 class="snow" style="margin: 25px 0px 40px 0px;"><%= @event.desc %></h6>

      <h4 class="snow" style="margin-top: 25px;font-weight: bold;background-color:#2e3440; width:160px;padding: 5px 10px 5px 10px">Categories</h4>
      <div class="cont-cat">
      <% @event.categories.each do |cat| %>
        <div class="cat-each">
        <%= link_to cat.name, "/by_category/#{cat.name}", class: 'link snow' %>
        </div>
      <%end%>
      </div>

    </div>
    </div>
    </div>
    </div>
  </section>

  <section class="comments">
    <h4 class="title snow">Comments</h4>
    <div class="row title">
    <% if @event.date < DateTime.now() || current_user.admin? %>
        <%= render :partial => 'comments/form', locals: {user_id: current_user.id, event_id: @event.id} %>
    <%end%>
    </div>
    <%= render @event.comments %>
  </section>
</section>
